@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind apply classes */ 
.border-c-gradient {
  @apply bg-gradient-to-r from-[#D931F7] via-[#D931F7] to-[#F3F731] p-[1px];
}
.btn-animation {
  @apply transform transition-all duration-300 active:scale-90;
}

/* disable background blue after click */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* scroll smoosh */
html {
  scroll-padding-top: 10rem;
  scroll-behavior: smooth !important;
}

/* customize body scrollbar */
body {
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
}