/* font setup */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* btn animation */
.btn-animation {
  @apply transform transition-all duration-300 active:scale-95;
}

/* body styles */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
}

/* disable outline after focus */
*:focus {
  outline: none;
}

/* disable background blue after click */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* scroll smoosh */
html {
  scroll-behavior: smooth !important;
}

/* minimal scrollbar */
.minimal-scrollbar {
  padding: 0 5px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #555 !important;
    border-radius: 10px !important;
  }
}

/* select status dropdown customize */
.dropdown-select-status {
  .css-13cymwt-control,
  .css-t3ipsp-control {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    max-height: 0 !important;
    font-size: 13px !important;
    background-color: transparent !important;
    .css-1dimb5e-singleValue {
      color: #fff !important;
      font-size: 15px !important;
    }
  }
  .css-13cymwt-control,
  .css-t3ipsp-control {
    &:focus-within {
      box-shadow: none !important;
      border-color: #b5b5b5 !important;
    }
  }
  .css-1nmdiq5-menu {
    border: 1px solid #555;
    font-size: 14px !important;
    background-color: #1f2937 !important;
    div div {
      background-color: transparent;
      &:hover {
        background-color: #9333ea !important;
      }
    }
  }
}
